<html>
	<heead>
		<title>Cadastro</title>
	</head>
	<body>
		<form action="/[autenticar]" method="post">
			<div>
				<input type="text" name="nome" placeholder="Nome"/>
				<input type="text" name="usuario" placeholder="Usuário"/>
				<input type="password" name="senha" placeholder="Senha"/>
				<button type="submit">Cadastrar</button>
			</div>
		</form>
	</body>
</html>